Dictionaries

In [2]:
# Examples of lists
names_of_students = ['jon','sam']
age_of_students = [21, 22]

print(names_of_students + age_of_students)

['jon', 'sam', 21, 22]

In [ ]:
# Initializing a dictionary

python_class = {}

In [3]:
# A set is very similar to a dictionary in contruction.
python_class = {'names_of_students', 'age_of_students'}

print(python_class)

{'age_of_students', 'names_of_students'}

In [10]:
# A dictionary has a key mapped to a value. The value can be null
python_class = {'names_of_students': ['sam', 'jon'], 'age_of_students': [21, 22]}

print(python_class)

{'names_of_students': ['sam', 'jon'], 'age_of_students': [21, 22]}

In [9]:
# Get the keys of a dictionary
print(python_class.keys())

dict_keys(['names_of_students', 'age_of_students'])

In [11]:
# Get the values of a dictionary
print(python_class.values())

dict_values([['sam', 'jon'], [21, 22]])

In [13]:
# Getting the keys in a dictionary
for key in python_class.keys():
  print(key)

names_of_students
age_of_students

In [14]:
# Getting the keys and pos it occupies in a dictionary
for pos, key in enumerate(python_class.keys()):
  print(pos, key)

0 names_of_students
1 age_of_students

In [15]:
# Get the values in a dictionary
for val in python_class.values():
  print(val)

['sam', 'jon']
[21, 22]

In [16]:
# Get the key and value in dictionary using .items
for key, val in python_class.items():
  print(key, val)

names_of_students ['sam', 'jon']
age_of_students [21, 22]

In [20]:
# Checking if a value exists in a dictionary
if 'sam' in python_class:
  print('Yes, sam is in this class')
else:
  print('No')

No

In [25]:
if 'names_of_students' in python_class:
  print('Names of Students is in this class')

Names of Students is in this class

In [22]:
if 'sam' in python_class['names_of_students']:
  print('Yes, sam is in this class')
else:
  print('No')

No

In [27]:
example_dict = {'names': 'sam', 'age': 12}

if 'sam' in example_dict.values():
  print('Yes, sam is in this class')
else:
  print('No')

Yes, sam is in this class

In [28]:
if 'sam' in python_class.values():
  print('Yes, sam is in this class')
else:
  print('No')

No

In [ ]:
if ['sam', 'jon'] in python_class.values():
  print('Yes, sam is in this class')
else:
  print('No')

Yes, sam is in this class

In [32]:
# Using loops and in keyword to check for existence of a value
for val in python_class.values():
  if 'sam' in val:
    print('found sam', 'haha')
    break

  else:
    print('Did not find sam')

found sam haha

In [33]:
# Using get to retrieve a value given a key
python_class.get('names_of_students','No name found')

['sam', 'jon']

In [34]:
python_class.get('teachers','No teachers found')

'No teachers found'

In [36]:
print(python_class)

{'names_of_students': ['sam', 'jon'], 'age_of_students': [21, 22]}

In [37]:
# Using setdefault to set the value of a key if it doesn't exist
python_class.setdefault('names_of_students', ['sam', 'jon', 'mykel'])

['sam', 'jon']

In [38]:
python_class.setdefault('teachers', ['alice', 'bob'])

['alice', 'bob']

In [39]:
print(python_class)

{'names_of_students': ['sam', 'jon'], 'age_of_students': [21, 22], 'teachers': ['alice', 'bob']}

In [1]:
# Below code was copied from a online compiler
# Online Python compiler (interpreter) to run Python online.
# Write Python 3 code in this online editor and run it.
school = { 
    'python': {
    'students' : ['sam', 'jon'],
    'teachers' : ['bob', 'alice'],
    'price' : 1299.99,
    'status': 'online'
    },
    'math':{
    'students' : ['mykel', 'jane'],
    'teachers' : ['jack', 'liza'],
    'price' : 1099.99,
    'status': 'on-campus'
    }
}

# for val in school.values():
#     if 'sam' in val['students']:
#         print('found sam')
#         break
    
#     else:
#         print('sam is not a registered student')
        

print(school['python']['price'] + school['math']['price'])

2399.98