What is a list

Is a data type that allows you to add and remove values, access its values and iterate through its values

In [1]:
# printing a list
names_of_students = ['mykel', 'sam', 'jon']

print(names_of_students)

['mykel', 'sam', 'jon']

In [3]:
# Printing each value in a list
for name in names_of_students:
  print(name)

mykel
sam
jon

In [6]:
# Enumerating through a list
# Enumerate pos and the value of each element
for i,j in enumerate(names_of_students):
  print(i)

0
1
2

In [11]:
# Prints the value occupaying the first pos
print(names_of_students[1])

sam

In [12]:
# Assigning value to a position
names_of_students[1] = 'bob'

print(names_of_students)

['mykel', 'bob', 'jon']

In [17]:
# delete a position
del names_of_students[2]

print(names_of_students)

['mykel', 'bob']

In [19]:
# Add value to the bottom of the list

names_of_students.append('alice')
names_of_students.append('mary')

print(names_of_students)

['mykel', 'bob', 'alice', 'mary']

In [20]:
# remove an element from a list

names_of_students.remove('mykel')

print(names_of_students)

['bob', 'alice', 'mary']

In [22]:
# insert a value at a specific position in a list

names_of_students.insert(0, 'jose')

print(names_of_students)

['jose', 'bob', 'alice', 'mary']

In [33]:
# for pos,elem in enumerate(names_of_students):
#   print(pos, elem)

#[   0,     1,       2,       3 ]
#[  -4,    -3,      -2,      -1 ]
#['jose', 'bob', 'alice', 'mary']

print(names_of_students[-1] == names_of_students[3])

True

In [36]:
# Getting the last value using the len of the list

number_of_students = len(names_of_students)

last_position_of_list = len(names_of_students) - 1

print(names_of_students[last_position_of_list])

mary

In [37]:
# Get the last element of a list using negative index

print(names_of_students[-1])

mary

In [38]:
# Creating a list by addition

names_teachers = ['jack', 'jane']

print(names_of_students + names_teachers)

['jose', 'bob', 'alice', 'mary', 'jack', 'jane']

In [39]:
# Multiplying a list

print(names_teachers * 3)

['jack', 'jane', 'jack', 'jane', 'jack', 'jane']

In [41]:
print(names_of_students)
print(names_teachers)

['jose', 'bob', 'alice', 'mary']
['jack', 'jane']

In [48]:
# using slices

print(names_of_students[0:4:2])

['jose', 'alice']

In [49]:
# using lists with loops

for student in names_of_students:
  if student == 'bob':
    print('Hello bob')
  else:
    print('You are not bob')

You are not bob
Hello bob
You are not bob
You are not bob

In [50]:
# using lists with loops

science_students = ['alice']

for student in names_of_students:
  if student not in science_students:
    science_students.append(student)
  else:
    print('You are already a science student')

You are already a science student

In [51]:
print(science_students)

['alice', 'jose', 'bob', 'mary']

In [53]:
# sorting a list

student_ids = [102,343,111,901,221,678]

student_ids.sort()

print(student_ids)

[102, 111, 221, 343, 678, 901]

In [60]:
# sorting using a key

chars = ['aA', 'bb', 'Ae', 'zb', 'cC', 'l', 'Mn', 'c']
chars.sort()

print(chars)

chars.sort(key=str.lower)

print(chars)

chars.sort(key=str.upper)

print(chars)

['Ae', 'Mn', 'aA', 'bb', 'c', 'cC', 'l', 'zb']
['aA', 'Ae', 'bb', 'c', 'cC', 'l', 'Mn', 'zb']
['aA', 'Ae', 'bb', 'c', 'cC', 'l', 'Mn', 'zb']

In [63]:
# sort in reverse
print(names_of_students)

names_of_students.sort(reverse=True)

print(names_of_students)

['alice', 'bob', 'jose', 'mary']
['mary', 'jose', 'bob', 'alice']

In [69]:
# Reversing a list

print(names_of_students)

#names_of_students.reverse()

print(names_of_students[::-1])

['alice', 'bob', 'jose', 'mary']
['mary', 'jose', 'bob', 'alice']