The Input statement

-Helps get info from the keyboard

In [18]:
# Takes data from the keyboard
# Return result is always a string
#name = input()
number = int(input())

# Converting to int
#number = int('5')

# converting to str

#str_number = str(number)

print('This is a number' , number)

5
This is a number 5

Data Type Conversion

In [ ]:
# To str
#str()

# To int
#int()

# To List
#list()

While loop and Examples

While loops execute until a true condition is false or a false condition is true

In [20]:
spam = 0

if spam < 5:
  print('Hello World')
  spam = spam + 1


while spam < 5:
  print('Hello World')
  spam = spam + 1

Hello World
Hello World
Hello World
Hello World
Hello World

Break and Continue Statements

Break statements allow us to exit our loop early or before the condition is met

In [25]:
# Example of a break statement
spam = 0

while spam < 5:
  print('Hello World')

  print('The value of spam is', spam)

  spam = spam + 1

  if spam == 3:
    break

Hello World
The value of spam is 0
Hello World
The value of spam is 1
Hello World
The value of spam is 2

In [29]:
# Example of a continue statement

while True:

  print('Who are you?: ')
  user_name = input()

  if user_name != 'Mykel':
    continue
  print('Welcome', user_name)
  break

Who are you?:
Bob
Who are you?:
Dad
Who are you?:
Peter
Who are you?:
Mykel
Welcome Mykel

The range data type

prints values from a starting index to an ending index exclusive of the ending index

In [31]:
range(1,5)
# 1, 2, 3, 4

range(5)

# 0, 1, 2, 3, 4

range(8,9)

# 8

range(0,5,1)

# 0, 1, 2, 3, 4

range(0,5,2)

# 0, 2, 4

range(1, 5)

For loops

Runs a number of times based on the range or iterable condition provided

In [37]:
for number in range(0,5,2):
  print(number)

0
2
4

In [38]:
names_of_students = ['mykel', 'sam', 'jon']

for name_of_student in names_of_students:
  print(name_of_student)

mykel
sam
jon

In [39]:
for i in range(5):
  print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [41]:
for _ in range(5):
  print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World