Sets

In [2]:
# Defining a set
names_of_students_set = {"jon", "mykel", "sam"}

print(names_of_students_set)

{'jon', 'sam', 'mykel'}

In [4]:
# Sets are unindexed
names_of_students_set = {"jon", "mykel", "sam"}

#print(names_of_students_set[1])

In [7]:
# Adding a value to a set is similar to adding a value to a list

names_of_students_set = {"jon", "mykel", "sam"}

names_of_students_set.add("jon")

#names_of_students_list = ["jon", "mykel", "sam"]

#names_of_students_list.append("jon")

print(names_of_students_set)
#print(names_of_students_list)

{'jon', 'sam', 'mykel'}
['jon', 'mykel', 'sam', 'jon']

In [12]:
# You can pop a value of a set

names_of_students_set = {"jon", "mykel", "sam"}

names_of_students_set.pop()
names_of_students_set.pop()

print(names_of_students_set)

{'mykel'}

In [19]:
# Update the values in a set

names_of_students_set = {"jon", "mykel", "sam"}

names_of_students_set.update(["bob", "alice"])

print(names_of_students_set)

{'jon', 'mykel', 'sam', 'bob', 'alice'}

In [22]:
# Remove values from a set using the remove keyword

names_of_students_set = {"jon", "mykel", "sam"}

names_of_students_set.remove("jon")

#names_of_students_set.remove("bob") will not work use discard

print(names_of_students_set)

{'sam', 'mykel'}

In [23]:
# Discard can remove a value whether or not it actually exist in the set

names_of_students_set = {"jon", "mykel", "sam"}

#names_of_students_set.remove("jon")

names_of_students_set.discard("bob")

print(names_of_students_set)

{'jon', 'sam', 'mykel'}

In [33]:
# A set can converted to a list

names_of_students_list = ["jon", "mykel", "sam"]

names_of_students_set_converted = set(("jon", "mykel", "sam"))

print(type(names_of_students_set_converted))

<class 'set'>

Tuples

In [35]:
# Defining a tuple

names_of_students_tuple = ("jon", "sam", "mykel")

print(type(names_of_students_tuple))

<class 'tuple'>

In [43]:
# Converting a tuple to a list to manipulate

names_of_students_tuple = ("jon", "sam", "mykel")

names_of_students_tuple_list = list(names_of_students_tuple)

names_of_students_tuple_list.append("lol")

print(names_of_students_tuple_list)

['jon', 'sam', 'mykel', 'sam']

In [42]:
# Converting a list to a tuple
names_of_students_tuple_list_converted = tuple(names_of_students_tuple_list)

print(type(names_of_students_tuple_list_converted))

<class 'tuple'>

In [44]:
# Adding a tuple to a tuple 
print(names_of_students_tuple_list_converted + names_of_students_tuple)

('jon', 'sam', 'mykel', 'lol', 'jon', 'sam', 'mykel')

In [47]:
# Adding two tuples to create a new tuple

teachers = ("bob", "alice")

new_teacher = ("peter",) # A single element tuple

all_teachers = teachers + new_teacher

print(all_teachers)

('bob', 'alice', 'peter')

In [50]:
# Unpacking a tuple

teachers = ("bob", "alice")

new_teacher = ("peter",)

all_teachers = teachers + new_teacher

math_teacher, phys_teacher, eng_teacher = all_teachers

print(eng_teacher)

peter

In [52]:
# Using a wildcard to unpack a tuple

fruits = ("apple", "banana", "orange", "guava", "grapes", "nuts")

(edible, *non_edible) = fruits

print(non_edible)
print(edible)

['banana', 'orange', 'guava', 'grapes', 'nuts']
apple

In [53]:
fruits = ("apple", "banana", "orange", "guava", "grapes", "nuts")

(*edible, non_edible) = fruits

print(non_edible)
print(edible)

nuts
['apple', 'banana', 'orange', 'guava', 'grapes']

In [54]:
fruits = ("apple", "banana", "orange", "guava", "grapes", "nuts")

(*edible, non_edible, good_one) = fruits

print(edible)
print(non_edible)
print(good_one)

['apple', 'banana', 'orange', 'guava']
grapes
nuts

In [55]:
fruits = ("apple", "banana", "orange", "guava", "grapes", "nuts")

(edible, *non_edible, good_one) = fruits

print(edible)
print(non_edible)
print(good_one)

apple
['banana', 'orange', 'guava', 'grapes']
nuts